@mixin title($color: #000000) {
  .title {
    h2 {
      font-family: Banny;
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;

      color: $color;
      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        box-sizing: border-box;

        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;

        background: $color_gold;
        border: 1px solid $color_gold;
        border-radius: 50px;
      }
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      text-align: center;

      margin: 0 auto;

      color: $color;

      width: 475px;
      margin-bottom: 50px;
    }
  }
}

@mixin inputField {
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;

  &::placeholder {
    color: rgba(51, 51, 51, 0.5);
  }
}

@mixin squreImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 475px;
  width: 100%;
  height: 475px;
  // height: 100%;

  filter: drop-shadow(0px 0px 50px #000000);
  p {
    max-height: 475px;
    height: 100%;
    max-width: 80px;
    width: 100%;

    background-color: #000;
    color: #ffffff;
    // transform: rotate(180deg);

    font-family: Banny;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
  }
  .square {
    box-sizing: border-box;
    max-height: 250px;
    height: 100%;
    max-width: 250px;
    width: 100%;

    content: "sddsd";
    border: 20px solid $color_gold;
  }
}

@mixin squreImg_left {
  justify-self: right;

  .square {
    transform: translate(-125px);
  }
}

@mixin squreImg_right {
  p {
    transform: rotate(180deg);
  }
  .square {
    transform: translate(125px);
  }
}

@mixin contentRight($imgBg, $mainBg: #fff) {
  max-width: 1440px;
  background-blend-mode: multiply;
  background: $mainBg;

  background-color: rgba(0, 0, 0, 0.6);

  h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding: 43px 0;

    color: #ffffff;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;

    .left {
      background-image: $imgBg;

      @include squreImg;
      @include squreImg_left;
    }

    .right {
      @include title(#fff);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        max-width: 475px;
        margin-top: -28px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  &__footer {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 44px;
  }
}

@mixin contentLeft($imgBg, $mainBg: #fff) {
  max-width: 1440px;
  background-blend-mode: multiply;
  background: $mainBg;

  // background-color: rgba(0, 0, 0, 0.6);

  h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding: 43px 0;

    color: #ffffff;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;

    .left {
      background-image: $imgBg;

      @include squreImg;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      @include squreImg_right;
    }

    .right {
      @include title();
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        max-width: 475px;
        margin-top: -28px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  &__footer {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 44px;
  }
}
