@import "../styles/vars.scss";
@import "../styles/mixins.scss";

$imgBg: url(../img//sectionImg/bookTableWatch.png);

.bookTable {
  padding-top: 100px;
  @include contentLeft($imgBg);
  padding-bottom: 100px;
  @include title;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    input {
      display: block;
      @include inputField;
    }

    button {
      grid-column: 1/3;

      background: $color_gold;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      padding: 20px;
      box-sizing: border-box;
    }
  }
}
