@import "../styles/vars.scss";
@import "../styles/mixins.scss";

$mainBg: url(../img/ourTeamBg.png);
$imgBg: url(../img/sectionImg/chef.png);

.ourTeam {
  @include contentRight($imgBg, $mainBg);
  padding-bottom: 100px;
}
