@import "../styles/vars.scss";
@import "../styles/mixins.scss";

.ourTeam {
  max-width: 1440px;
  background-blend-mode: multiply;
  background-image: url(../img/specialtysbg.png);
  background-color: rgba(0, 0, 0, 0.6);
  // background-size: contain;
  h3 {
    // font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding: 43px 0;

    color: #ffffff;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;

    .left {
      background-image: url(../img/sectionImg/chcolatePancakes.png);
      @include squreImg;
      @include squreImg_left;
    }

    .right {
      @include title(#fff);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        max-width: 475px;
        margin-top: -28px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        display: flex;
        align-items: flex-end;
        text-align: center;

        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  &__footer {
    // font-family: Open Sans;
    // font-style: normal;
    // font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */

    text-align: center;

    color: rgba(255, 255, 255, 0.5);
    padding: 44px;
  }
}
