@import "../styles/vars.scss";
@import "../styles/mixins.scss";

.PrivetIvents {
  max-width: 1440px;
  background-blend-mode: multiply;
  background-image: url(../img/specialtysbg.png);
  background-color: rgba(0, 0, 0, 0.6);
  // background-size: contain;
  h3 {
    // font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding: 43px 0;

    color: #ffffff;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      max-width: 475px;
      width: 100%;
      height: 475px;
      // height: 100%;
      background-image: url(../img/sectionImg/rings.png);
      p {
        writing-mode: vertical-lr;
        max-height: 475px;
        height: 100%;
        max-width: 80px;
        width: 100%;

        background-color: #000;
        color: #ffffff;
        transform: rotate(180deg);
        border-radius: 0 5px 5px 0;
      }
      .square {
        box-sizing: border-box;
        max-height: 250px;
        height: 100%;
        max-width: 250px;
        width: 100%;

        content: "sddsd";
        border: 20px solid gold;
        transform: translate(125px);
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // justify-items: center;
      justify-self: right;
      max-width: 475px;
      width: 100%;
      height: 475px;
      // height: 100%;
      background-image: url(../img/sectionImg/rings.png);
      p {
        writing-mode: vertical-lr;
        max-height: 475px;
        height: 100%;
        max-width: 80px;
        width: 100%;

        background-color: #000;
        color: #ffffff;
        transform: rotate(180deg);
        border-radius: 0 5px 5px 0;
      }
      .square {
        box-sizing: border-box;
        max-height: 250px;
        height: 100%;
        max-width: 250px;
        width: 100%;

        content: "sddsd";
        border: 20px solid gold;
        transform: translate(-125px);
      }
    }
  }
}

// .right {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   @include title(#ffffff);
//   p {
//     max-width: 475px;
//     margin-top: -25px;
//     text-align: center;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 24px;

//     color: rgba(255, 255, 255, 0.9);
//   }
// }
